In [5]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn import naive_bayes
import numpy as np

In [10]:
data = pd.read_csv("data_clean.csv")
data.head()

,Unnamed: 0,username,text,label
0,0,Salman Sudiro,semalem gue beli nasgor parkir depan indomart...,0
1,1,RIAN PIJAT CIBARUSAH,tukang parkir sama tukang bakso tanya tanyaka...,0
2,2,pameranbuku,mbayar lik sewu po limang ewu wehke tukang pa...,0
3,3,Juliastutið�?�?¼,sedekahin tukang parkir annur saja sudah,0
4,4,Aim Twister,pacar sama tukang parkir indak lama terus ter...,0

In [12]:
vectorizer = TfidfVectorizer(use_idf=True, lowercase=True, strip_accents='ascii')

In [15]:
y= data.label
X= vectorizer.fit_transform(data.text)

In [17]:
print (y.shape)
print (X.shape)

(365,)
(365, 1545)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [20]:
clf = naive_bayes.MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [65]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report