In [1]:
import pickle
model_mnb = 'model_klasifikasi.data'
# buka file namasiswa.data
f = open(model_mnb, 'rb')
# load data dari file tersebut
model_mnb = pickle.load(f)
f.close()
print(model_mnb)

Pipeline(memory=None,
     steps=[('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
 ...      vocabulary=None)), ('classifier', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [2]:
import pandas as pd
data_test = pd.read_csv("test1.csv")
data_test.head()

,username,text,label
0,Salman Sudiro,Semalem gw beli nasgor parkirnya di depan indo...,0
1,RIAN PIJAT CIBARUSAH,Tukang parkir sama tukang bakso.\n\n\n\nPada d...,0
2,pameranbuku,"mbayar lik...\n\nsewu po limang ewu, wehke tuk...",0
3,Juliastutið�?�?¼,di sedekahin ke tukang parkir annur ae udah,0
4,Aim Twister,Pacaran itu sama dengan tukang parkir. nda sel...,0

In [3]:
y = pd.DataFrame(columns=['text','label'])

In [4]:
hasil_tes = model_mnb.predict(data_test.text)

In [5]:
y['label'] = hasil_tes

In [6]:
y['text'] = data_test['text']

In [8]:
y.head()

                                                text  label
0  Semalem gw beli nasgor parkirnya di depan indo...      1
1  Tukang parkir sama tukang bakso.\n\n\n\nPada d...      0
2  mbayar lik...\n\nsewu po limang ewu, wehke tuk...      1
3        di sedekahin ke tukang parkir annur ae udah      0
4  Pacaran itu sama dengan tukang parkir. nda sel...      0

In [9]:
l_hasil = list(hasil_tes)
print("Prediksi tweet baik: " + str(l_hasil.count(2)))
print("Prediksi tweet kurang baik: " + str(l_hasil.count(1)))
print("Prediksi tweet irelevant: " + str(l_hasil.count(0)))

Prediksi tweet baik: 101
Prediksi tweet kurang baik: 244
Prediksi tweet irelevant: 20